@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./components/Card.css";
:root {
  --fontBase: "Roboto", sans-serif;
  --headline1: bold 95px / 153.71px var(--fontBase);
  --headline2: bold 59px / 95px var(--fontBase);
  --headline3: bold 16px / 18.75px var(--fontBase);
  --body1: 24px / 28px var(--fontBase);
  --body2: 16px / 19px var(--fontBase);
  --button: bold 14px / 22px var(--fontBase);
  --caption: 12px / 19px var(--fontBase);
  --bgGray: #e5e7eb;
  --nvGray: #2f3337;
  --hrGray: #cbcedd;
  --white: white;
  --blue: #26b4ff;
  --fontColor1: #424242;
  --fontColor2: #9a9a9a;
}
body {
  margin: 0;
  background: var(--bgGray);
  color: var(--fontColor1);
  font: var(--body1);
}
