@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --fontBase: "Roboto", sans-serif;
  --body1: 24px / 28px var(--fontBase);
  --body2: 16px / 19px var(--fontBase);
  --caption: 12px / 14px var(--fontBase);
  --bgGray: #e5e7eb;
  --nvGray: #2f3337;
  --hrGray: #cbcedd;
  --blue: #26b4ff;
  --fontColor1: #424242;
  --fontColor2: #9a9a9a;
  --white: #ffffff;
}
body {
  margin: 0;
  background: var(--bgGray);
  color: var(--fontColor1);
  font: var(--body1);
}
body p {
  margin: 0;
}
