.Card {
  position: relative;
  background: var(--white);
  width: 345px;
  height: 145px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.FrameUp {
  display: flex;
  align-items: center;
  gap: 18px;
}
.FrameImage {
  margin-inline-start: 16px;
  width: 63px;
  height: 68px;
  position: relative;
  bottom: 21px;
}
.Image {
  top: -3px;
  left: 27.5px;
  position: absolute;
  width: 40px;
  height: 35px;
}
.FrameUp p {
  margin-inline-end: 12px;
}
.FrameDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  font: var(--caption);
  color: var(--fontColor2);
  margin-block-end: 16px;
}
.Card hr {
  display: block;
  border: 0;
  border-top: 1px solid var(--hrGray);
  margin: 0;
  width: 345px;
}
.FrameDown p {
  display: flex;
  align-items: center;
  margin-block-start: 11px;
  margin-inline-start: 16px;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .Card {
    width: 554px;
    height: 330px;
    border-radius: 16px;
  }
  .FrameUp {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .FrameImage {
    margin-inline-start: 32px;
    width: 110px;
    height: 115px;
    bottom: 34px;
  }
  .Image {
    top: -8px;
    left: 57.5px;
    width: 56px;
    height: 52px;
  }
  .FrameUp p {
    margin-inline-start: 27px;
    font-size: 36px;
    line-height: 42px;
  }
  .FrameDown {
    font-size: 14px;
    line-height: 16px;
    margin-block-end: 27px;
  }
  .Card hr {
    width: 553px;
  }
  .FrameDown p {
    margin-block-start: 27px;
    margin-inline-start: 27px;
    gap: 13px;
    max-inline-size: 180px;
  }
}
