.Button {
  display: flex;
  margin-inline: auto;
  margin-block-start: 38px;
  margin-block-end: 38px;
  background: var(--white);
  align-items: center;
  border-radius: 16px;
  gap: 10px;
  padding-inline-start: 12px;
  padding-block-start: 8px;
  padding-block-end: 8px;
  font: var(--buttonFont);
  border-width: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 223px;
  height: 47px;
}
