.Documents-container {
  font: var(--buttonFont);
  color: black;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-inline-start: 28px;
  margin-inline-end: 28px;
}

ul {
  padding-inline-start: 20px;
  padding-inline-end: 10px;
}
li {
  list-style: none;
}
.List-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.icon img {
  width: 30px;
  height: 40px;
}
.icon p {
  font-size: 9px;
}
@media screen and (min-width: 1024px) {
  .Documents-container h3 {
    font-size: 36px;
  }
  .List-container {
    margin-inline-start: 73px;
    margin-inline-end: 120px;
    font-size: 24px;
  }
}
